@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-difuminado {
    backdrop-filter: brightness(0.8) blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el contenedor detrás del contenido principal */
}





body {
    font-family: 'Roboto', sans-serif;
    margin: left 50%;

    background-image: url(imagenes/fondo_admin.jpg);
}

.contenedor {
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 8%;
    backdrop-filter: blur(15px);
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.contenedor h2 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    margin-top: 1%;
}

.input-contenedor {
    margin: 10%;
    width: 300px;
    position: relative;
}






.input-contenedor label {
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s;
    font-weight: bold;
}

.input-contenedor input,
.input-contenedor select,
.input-contenedor checkbox {
    width: 100%;
    height: 40px;
    background-color: transparent; 
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 1rem;
    color: #fff;
}

.input-contenedor select {
    background-color: transparent; 
    color: #fff; 
}


.input-contenedor i{
    position: absolute;
    color: #000;
    font-size: 1rem;
    top: 20px;
    right: 8px;
}

.input-contenedor input:focus~label,
.input-contenedor input:valid~label,
.input-contenedor select:focus~label,
.input-contenedor select:valid~label,
.input-contenedor checkbox:focus~label,
.input-contenedor checkbox:valid~label {
    top: -20px;
    font-size: 0.9rem;
}


.input-contenedor {
    display: flex;
    align-items: center;
}

.input-contenedor input {
    margin-right: -800px; 
}

.label-checkbox {
    color: #fff; 
    font-size: 1rem;
}







button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
}

button:hover {
    opacity: 0.9;
}
